<tr class="fields">
  <td>
    <%= f.text_field(:name, class: "form-control", disabled: !new_vm, placeholder: _("Name")) %>
  </td>
  <td>
    <%= f.text_field(:value, class: "form-control", disabled: !new_vm, placeholder: _("Value")) %>
  </td>
  <% if new_vm %>
    <td>
      <%= link_to_remove_fields('', f, title: _('Remove')) %>
    </td>
  <% end %>
</tr>
